<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Tags</title>

    <th:block th:replace="pagefragments/bootstrap"></th:block>
</head>
<body>
<div th:with="pageTags=${true}">
    <th:block th:replace="pagefragments/navbar"></th:block>
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="panel-title">
                                Tags
                            </h1>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-default" href="/tagForm" role="button">New Tag</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(tags)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Tags</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tr th:each="tag : ${tags}">
                                <td th:text="${tag.tagName}"></td>
                                <td><a href="#" th:href="@{'/tag/delete/'+${tag.id}}">Delete</a></td>
                                <td><a href="#" th:href="@{'/tag/edit/'+${tag.id}}">Edit</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>