<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Course</title>

    <th:block th:replace="pagefragments/bootstrap"></th:block>
</head>
<body>
<div th:with="pageMyCourses=${true}">
    <th:block th:replace="pagefragments/navbar"></th:block>
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="panel-title">
                                Create Course
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form th:object="${myCourse}" th:action="@{/myCourseSubmit/}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <label>Course: </label>
                        <select th:field="*{course}">
                            <option th:each="course : ${availableCourses}" th:value="${course.id}"
                                    th:text="${course.title}+' ('+${course.author}+')'"/>
                        </select>
                        <div class="form-group">
                            <label>Notes: </label>
                            <textarea th:field="*{notes}" class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">Completed?
                                <input th:field="*{completed}" class="form-check-input" type="checkbox">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
                        <button type="submit" class="btn btn-default" name="cancel" value="cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>