<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Courses</title>

    <th:block th:replace="pagefragments/bootstrap"></th:block>
</head>
<body>
<div th:with="pageCourses=${true}">
    <th:block th:replace="pagefragments/navbar"></th:block>
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="panel-title">
                                Courses
                            </h1>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-default" href="/courseForm" role="button">New Course</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <th:block th:replace="pagefragments/courseListTable"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>