<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://java.sun.com/jsp/jstl/fmt" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Course</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CourseTracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/getMyCourses">MyCourses</a></li>
                <li class="active"><a href="/getCourses">Courses</a></li>
                <li><a href="/getTags">Tags</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Create <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/courseForm">Course</a></li>
                        <li><a href="/tagForm">Tag</a></li>
                        <li><a href="/myCourseForm">MyCourse</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Search <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/searchTag">Search by Tag</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        <h1 class="panel-title">
                            Create Course
                        </h1>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form th:object="${course}" th:action="@{/courseSubmit/}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <label>Title: </label>
                    <input type="text" class="form-control" th:field="*{title}">
                    <span class="help-block" th:if="${#fields.hasErrors('title')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('title')}" th:text="${err}"/>
                        </ul>
                    </span>
                    <label>Author: </label>
                    <input type="text" class="form-control" th:field="*{author}">
                    <label>Url: </label>
                    <input type="text" class="form-control" th:field="*{url}">
                    <span class="help-block" th:if="${#fields.hasErrors('url')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                        </ul>
                    </span>
                    <label>Subjects: </label>
                    <input type="text" class="form-control" th:field="*{subjects}">
                    <label>Tags: </label>
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control" th:field="*{tags}" multiple="multiple">
                                <option th:each="tag: ${taglist}"
                                        th:field="*{tags}"
                                        th:value="${tag.id}"
                                        th:text="${tag.tagName}">Tag name
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-default" name="addtag" value="addtag">Add Tag
                            </button>
                        </div>
                    </div>
                    <label>Publishdate: </label>
                    <input type="date" class="form-control" pattern="dd/MM/yyyy" th:field="*{publishdate}">
                    <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
                    <button type="submit" class="btn btn-default" name="cancel" value="cancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>