<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Courses</title>

    <th:block th:replace="pagefragments/bootstrap"></th:block>
</head>
<body>
<div th:with="pageCourses=${true}">
    <th:block th:replace="pagefragments/navbar"></th:block>
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="panel-title">
                                Courses
                            </h1>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-default" href="/courseForm" role="button">New Course</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(courses)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Tags</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="course : ${courses}">
                                <td th:text="${course.title}"></td>
                                <td th:text="${course.author}"></td>
                                <td>
                                <span th:each="tag,iter : ${course.tags}">
                                    <span th:text="${tag.tagName}"></span>
                                    <span th:if="${iter.index + 1 != iter.size}">
                                        <span th:text="' / '"/>
                                    </span>
                                </span>
                                </td>
                                <td><a href="#" th:href="@{'/course/delete/'+${course.id}}">Delete</a></td>
                                <td><a href="#" th:href="@{'/course/edit/'+${course.id}}">Edit</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>