<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://java.sun.com/jsp/jstl/fmt" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Course</title>

    <th:block th:replace="pagefragments/bootstrap"></th:block>
</head>
<body>
<div th:with="pageCourses=${true}">
    <th:block th:replace="pagefragments/navbar"></th:block>
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            <h1 class="panel-title">
                                Create Course
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form th:object="${course}" th:action="@{/courseSubmit/}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <label>Title: </label>
                        <input type="text" class="form-control" th:field="*{title}">
                        <span class="help-block" th:if="${#fields.hasErrors('title')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('title')}" th:text="${err}"/>
                        </ul>
                    </span>
                        <label>Author: </label>
                        <input type="text" class="form-control" th:field="*{author}">
                        <label>Url: </label>
                        <input type="text" class="form-control" th:field="*{url}">
                        <span class="help-block" th:if="${#fields.hasErrors('url')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                        </ul>
                    </span>
                        <label>Subjects: </label>
                        <input type="text" class="form-control" th:field="*{subjects}">
                        <label>Tags: </label>
                        <div class="row">
                            <div class="col-md-4">
                                <select class="form-control" th:field="*{tags}" multiple="multiple">
                                    <option th:each="tag: ${taglist}"
                                            th:field="*{tags}"
                                            th:value="${tag.id}"
                                            th:text="${tag.tagName}">Tag name
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-default" name="addtag" value="addtag">Add Tag
                                </button>
                            </div>
                        </div>
                        <label>Publishdate: </label>
                        <input type="date" class="form-control" pattern="dd/MM/yyyy" th:field="*{publishdate}">
                        <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
                        <button type="submit" class="btn btn-default" name="cancel" value="cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>