<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="pagefragments/bootstrap"></th:block>
<body>
<th:block th:replace="pagefragments/navbar"></th:block>
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        <h1 class="panel-title">
                            Welcome to CourseTracker
                        </h1>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                An application to register courses and add notes...
            </div>
        </div>
    </div>
</div>
</body>
</html>